:root {
  --modular-ratio: 1.3090169944;

  --s0: 1rem;
  --s1: calc(var(--s0) * var(--modular-ratio));
  --s2: calc(var(--s1) * var(--modular-ratio));
  --s3: calc(var(--s2) * var(--modular-ratio));
  --s4: calc(var(--s3) * var(--modular-ratio));
  --s5: calc(var(--s4) * var(--modular-ratio));
  --s6: calc(var(--s5) * var(--modular-ratio));
  --s7: calc(var(--s6) * var(--modular-ratio));
  --s8: calc(var(--s7) * var(--modular-ratio));
  --s-1: calc(var(--s0) / var(--modular-ratio));
  --s-2: calc(var(--s-1) / var(--modular-ratio));
  --s-3: calc(var(--s-2) / var(--modular-ratio));
  --s-4: calc(var(--s-3) / var(--modular-ratio));
  --s-5: calc(var(--s-4) / var(--modular-ratio));
  --s-6: calc(var(--s-5) / var(--modular-ratio));
  --s-7: calc(var(--s-6) / var(--modular-ratio));
  --s-8: calc(var(--s-7) / var(--modular-ratio));

  --font-family-fallback: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Helvetica Neue", HelveticaNeue,
    YuGothic, "Yu Gothic Medium", "Yu Gothic", Verdana, Meiryo, sans-serif;
  --font-family-normal: var(--font-family-fallback);
  --font-family-rubik: "Rubik", var(--font-family-fallback);
  --font-family-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --font-weight-bold: bold;

  font-family: var(--font-family-normal);
  font-feature-settings: "palt";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --size-xl: var(--s2);
  --size-l: var(--s1);
  --size-m: var(--s0);
  --size-s: var(--s-1);
  --size-xs: var(--s-2);
  --size-xxs: var(--s-3);

  font-size: min(0.875rem, calc(0rem + 3.5vw));
}

html {
  box-sizing: border-box;
  text-decoration: none;
}

:where(*:not(html)),
:where(*::before),
:where(*:after) {
  box-sizing: inherit;
  color: inherit;
  background: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
button,
data,
time,
code,
input,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border-width: 0;
  font-weight: inherit;
}

a {
  text-decoration: inherit;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  font-size: inherit;
}
